<!-- container -->
<div class="w-8/12 mx-auto">

    <a href="/" class="fixed top-10 left-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 8 8 12 12 16"></polyline>
            <line x1="16" y1="12" x2="8" y2="12"></line>
        </svg>
    </a>

    <!-- title -->
    <div class="flex justify-between items-center my-10">
        <h1 class="text-4xl font-semibold"> Lessons </h1>
        <a class="block px-3 p-2 bg-blue-500 text-white rounded" href="/course"> Add Lesson </a>
    </div>

    <div class="flex flex-col gap-2">
        <span> {{course.name}} </span>
        <span class="text-sm"> Duration: {{course.duration}} </span>
        <span> {{course.description}} </span>
    </div>
    <hr class="my-5">

    <!-- flex -->
    <div class="flex flex-col gap-3">
        <div class="p-2 flex shadow rounded items-center justify-between">
            <h3 class="font-semibold"> Lesson 1 | HTML CSS Basics </h3>
            <span class="text-sm"> 10.04.2023 </span>
        </div>
        <div class="p-2 flex shadow rounded items-center justify-between">
            <h3 class="font-semibold"> Lesson 1 | HTML CSS Basics </h3>
            <span class="text-sm"> 10.04.2023 </span>
        </div>
        <div class="p-2 flex shadow rounded items-center justify-between">
            <h3 class="font-semibold"> Lesson 1 | HTML CSS Basics </h3>
            <span class="text-sm"> 10.04.2023 </span>
        </div>
        <div class="p-2 flex shadow rounded items-center justify-between">
            <h3 class="font-semibold"> Lesson 1 | HTML CSS Basics </h3>
            <span class="text-sm"> 10.04.2023 </span>
        </div>
    </div>
</div>